---
import "@fontsource-variable/dm-sans";
import Header from "../components/Header.astro";
import MainTabs from "../components/MainTabs.astro";
import MadeWithAstro from "../components/MadeWithAstro.astro";
import { BASE_PATH } from "@/constants";

const title = "Mouayad Alhamwi | Website";

function getPublicAssetUrl(assetPath: string): string {
  const url = new URL(BASE_PATH + assetPath, Astro.url.origin);
  return url.toString();
}
---

<html lang="en">
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "lofi");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme"),
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={getPublicAssetUrl("/favicon/apple-touch-icon.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={getPublicAssetUrl("/favicon/favicon-32x32.png")}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={getPublicAssetUrl("/favicon/favicon-16x16.png")}
    />
    <link
      rel="manifest"
      href={getPublicAssetUrl("/favicon/site.webmanifest")}
    />
    <meta charset="UTF')}8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="This is the offical website for Mouayad Alhamwi"
    />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col items-center w-screen overflow-x-hidden lg:overflow-hidden"
  >
    <main class="">
      <div class="w-[92vw] mx-auto md:max-w-7xl md:w-[98vw] sm:w-[95vw]">
        <div class="flex flex-col lg:flex-row">
          <div class="lg:fixed">
            <Header />
          </div>
          <div class="invisible lg:visible lg:basis-2/6"></div>
          <div class="lg:basis-5/6 px-4 lg:px-0">
            <MainTabs />
          </div>
        </div>
      </div>
    </main>
    <footer class="lg:invisible pt-2 pb-6">
      <MadeWithAstro />
    </footer>
  </body>
</html>
<script src="/src/assets/main.js"></script>

<style is:global>
  body {
    font-family: "DM Sans Variable", sans-serif;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 480px) {
    * {
      font-size: 13px;
    }
  }
  * {
    scrollbar-color: oklch(var(--bc)) oklch(var(--b1)) !important;
  }
  .card {
    @apply p-8 border border-2 border-secondary hover:shadow-lg transition-shadow w-full;
  }
</style>
