---
import { Icon } from "astro-icon/components";
const { ...rest } = Astro.props;
import * as about from "../pages/about/about.md";
const title = "Who Am I & What I Do";
const icon = "carbon:identification";
---

<div
    class="flex flex-col justify-start min-h-[66vh] card card-compact p-8"
    {...rest}
>
    <div class="font-extrabold md:text-2xl mb-6">
        <div class="flex">
            <Icon name={icon} class="w-8 h-8 mr-4" />
            {title}
        </div>
    </div>

    <article class="prose leading-8 lg:leading-9">
        <Fragment
            class:list=" md:text-justify"
            set:html={about.compiledContent()}
        />
    </article>
    <div class="flex font-extrabold md:text-xl my-8">
        <Icon name="carbon:tools" class="w-7 h-7 mr-4" />
        Currently Using
    </div>
    <div class="flex flex-wrap gap-y-5 lg:justify-around">
        <div class="lg:basis-2/5">
            <div class="h6 mb-6 font-semibold">Front-End</div>
            <img
                class="hover:grayscale"
                alt="Front-End tech-stack"
                height="48px"
                src="https://skillicons.dev/icons?i=astro,css,html,js,tailwind"
            />
        </div>
        <div class="lg:basis-1/4">
            <div class="h6 mb-6 font-semibold">Back-End</div>
            <img
                class="hover:grayscale"
                alt="Back-End tech-stack"
                height="48px"
                src="https://skillicons.dev/icons?i=express,nodejs,ts"
            />
        </div>
        <div class="lg:basis-1/4">
            <div class="h6 mb-6 font-semibold">Tools</div>
            <img
                alt="Tools I use"
                class="hover:grayscale"
                height="48px"
                src="https://skillicons.dev/icons?i=git,github,vscode,pnpm&theme=dark"
            />
        </div>
    </div>
</div>
