---
const { icon, url, url_name } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a target="_blank" href={url}>
  <button
    class="btn lg:btn-ghost mr-1 hover:bg-primary hover:text-primary-content duration-700"
    ><Icon name={icon} class="w-5 h-5" /></button
  >
</a>
