---
const { icon, url, url_name } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a target="_blank" href={url}>
  <button
    class="btn lg:btn-ghost min-w-[80px] lg:min-w-[64px] h-[54px] lg:h-auto duration-500"
  >
    <Icon name={icon} class="w-5 h-5" />
  </button>
</a>
