---
const { icon, url, url_name } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a target="_blank" href={url}>
  <button
    class="btn btn-netural lg:btn-ghost lg:btn-wide justify-center h-20 lg:h-auto lg:justify-start items-center duration-500"
  >
    <Icon name={icon} class="w-6 h-6" />
    <div class="">{url_name}</div>
  </button>
</a>
