.fade-up-box .fade-up-item {
    transition: 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    will-change: auto;
}

.fade-up-box.show>.fade-up-item {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.fade-up-box.no-duration .fade-up-item {
    transition-duration: 0s;
    transition-delay: 0s !important;
}

.fade-up-box {
    margin-bottom: 100px;
}